{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<html >
    <head>
        <title>Detected Faults</title>
            <link rel="stylesheet" type="text/css" href="{% static '\blog\assets\css\test.css' %}">

    </head>
    <body style="display: flex;">
      <div class="courses-container">
        <div class="course">
          <div>
            <img src="/static/blog/assets/images/t1.png" alt="img" style="height: 650px; width: 300px;">
          </div>
          <div class="course-info">
            <h3>Output</h3>
            <div class="progress-container">
        </div>
      </div>
    </body>
</html>
{% endblock content %}